//Details-Card
.card-elegant {
  background-color: #FAFAFA;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  border: none;
}

.card-elegant .card-block {
  padding: 10px 0 25px 0;
  text-align: center;
}

.card-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-img-top {
  width: 50%;
  height: 50%;
  padding: 10px;
}

.card-elegant .card-title {
  font-weight: normal;
  margin: 15px 0;
  font-size: medium;
  color: #1a1a2e;
}

.card-elegant .card-title small {
  color: #1a1a2e;
  display: inline-block;
  font-size: medium;
  font-weight: 500;
  margin-bottom: 15px;
}

.card-elegant .card-text {
  border-bottom: 1px solid #C7C7C5;
  color: #1a1a2e;
  font-size: medium;
  padding: 10px;
  margin: 0 5px 0 5px;
}

.card-elegant .btn-link {
  color: #1a1a2e;
  font-size: medium;
  text-decoration: none;
}

.card-elegant .btn-link:hover,
.card-elegant .btn-link:focus {
  color: #1a1a2e;
}


//social-icons
.social-icons i {
  display: inline-block;
  font-size: 16px;
  color: #BB2025;
  text-align: center;
  border: 1px solid #BB2025;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  margin: 0 5px;
}

.social-icons .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.social-icons .icon-block a {
  text-decoration: none;
}

.social-icons i:hover {
  background-color: #BB2025;
  color: #fff;
  text-decoration: none;
}
