@import "../../../styles"

.filter-options
    display: flex
    justify-content: space-around
    padding: $xs

.forked
    color: $success

.not-forked
    color: $warning

table
    box-shadow: 0 19px 38px $box-shadow, 0 $sm 12px rgba(0,0,0,0.22)
    font-family: $font-family-sans-serif

table tr
    background-color: $background-color

table th,
table td
    vertical-align: middle

table th
    font-size: .75em
    text-transform: uppercase

@media screen and (max-width: $layout-breakpoint-small)

    table
        border: 0

    .filter-options
        flex-direction: column
        padding: $xs

    table caption
        font-size: $medium-font

    table thead
        border: none
        text-align: right
        clip: rect(0 0 0 0)
        height: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute
        width: 1px

    table td
        border-bottom: 1px solid $border-bottom-color
        display: block
        font-size: .8em
        text-align: left

    table td::before
        float: left
        font-weight: bold
        text-transform: uppercase

    table td:last-child
        border-bottom: 0
