<div class="filter-options">
  <div>
    <label class="radio-inline"><input type="radio" name="optradio" (change)="applyFilter('Forked')">
      <i class="fa fa-code-fork" aria-hidden="true"></i> Forked</label>
    <label class="radio-inline"><input type="radio" name="optradio" (change)="applyFilter('Not Forked')">Not
      Forked</label>
    <label class="radio-inline"><input type="radio" name="optradio" (change)="applyFilter('All')">All</label>
  </div>

  <div>
    <label class="radio-inline"><input type="radio" name="sort" (change)="applySort('Name')">Name</label>
    <label class="radio-inline"><input type="radio" name="sort" (change)="applySort('Created Time')">Created
      Time</label>
    <label class="radio-inline"><input type="radio" name="sort" (change)="applySort('Updated Time')">Updated
      Time</label>
  </div>

</div>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col"> {{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of filteredList">
        <td [ngClass]="{'forked': list.fork, 'not-forked': !list.fork }"><i class="fa fa-circle" aria-hidden="true"></i>
        </td>
        <td>{{list.name}}</td>
        <td>{{list.description}}</td>
        <td>
          <a href="{{list.git_url}}" target="_blank">Link</a>
        </td>
        <td>{{list.language}}</td>
        <td>{{list.fork}}</td>
        <td>{{list.stargazers_count}}</td>
        <td>{{ list.watchers_count}}</td>
        <td>{{ list.license?.name }}</td>
        <td> {{ list.created_at}}</td>
        <td> {{ list.updated_at}}</td>
        <td *ngIf="!list.top5Contributors"> <button class="btn btn-outline-info" (click)="getTop5Contributors(list)">
            Click
            to View </button></td>
        <td *ngIf="list.top5Contributors"> {{ list.top5Contributors }}</td>
      </tr>
    </tbody>
  </table>
</div>
